{% extends 'base.html' %}

{% load static %}

{% block main %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrar Rutas</title>
</head>
<body>

  <h1 class="mb-3">Administrar Rutas</h1>

  <!-- Formulario CSRF Token para protección contra ataques de falsificación de solicitudes entre sitios -->
  {% csrf_token %}

  <!-- Eliminar todas las rutas asociadas a una agencia -->
  <div class="mb-3 mt-3">
    <form method="POST" action="{% url 'delete_all_routes' agency.id %}">
      {% csrf_token %}
      <label>Eliminar todas las rutas asociadas a la agencia:</label>
      <button type="submit" class="btn btn-danger">Eliminar</button>
    </form>
  </div>

  <!-- Asignar una nueva agencia a todas las rutas -->
  <div class="mb-3">
    <form method="POST" action="{% url 'update_all_routes_agency' agency.id %}">
      {% csrf_token %}
      <label for="new_agency_id">Asignar una nueva agencia a todas las rutas:</label>
      <select name="new_agency_id" id="new_agency_id">
        <!-- Opciones para seleccionar la nueva agencia -->
        {% for agency in all_agencies %}
          <option value="{{ agency.id }}">{{ agency.name }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary">Asignar Nueva Agencia</button>
    </form>
  </div>

  <!-- Botón de "Terminar" -->
  <div class="mb-3">
    <form method="POST" action="{% url 'delete_agency' agency.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Terminar</button>
    </form>
  </div>

  <!-- Iterar sobre cada ruta para asignar nueva agencia o eliminar individualmente -->
  <table class="table">
    <thead>
        <tr>
            <th>ID de Ruta</th>
            <th>Nombre Corto</th>
            <th>Nombre Largo</th>
            <th>Tipo de Ruta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for route in routes %}
        <tr>
            <td>{{ route.route_id }}</td>
            <td>{{ route.short_name }}</td>
            <td>{{ route.long_name }}</td>
            <td>{{ route.get_route_type_display }}</td>
            <td>
                <form method="POST" action="{% url 'update_route' agency.id route.id %}">
                    {% csrf_token %}
                    <label for="new_agency_id_{{ route.route_id }}">Asignar nueva agencia:</label>
                    <select name="new_agency_id" id="new_agency_id_{{ route.route_id }}">
                        <!-- Opciones para seleccionar la nueva agencia -->
                        {% for agency_option in all_agencies %}
                        <option value="{{ agency_option.id }}">{{ agency_option.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary">Asignar</button>
                </form>
                
                <form method="POST" action="{% url 'delete_agency_route' agency.id route.id %}" class="float-right">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>

{% endblock %}
