{% extends 'base.html' %}

{% load static %}

{% block main %}
  <!-- Encabezado de la página -->
  <h1>Listado de Feeds</h1>

  <!-- Formulario CSRF Token para protección contra ataques de falsificación de solicitudes entre sitios -->
  {% csrf_token %}

  <!-- Bloque para mostrar mensajes -->
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <br>
  <!-- Botón de Volver -->
  <a href="{% url 'company_agency' company.company_id %}" class="btn btn-primary">Volver</a>
  <br>

  <!-- Tabla que muestra la lista de feeds -->
  <table class="table">
    <br>
    <thead>
      <tr>
        <!-- Cabeceras de la tabla -->
        <th>ID del Feed</th>
        <th>Creado el:</th>
        <th>Es Actual:</th>
        <th>Última Acción:</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ciclo para iterar sobre cada feed en la lista -->
      {% for feed in feeds %}
        <tr>
          <!-- Datos de cada feed -->
          <td>{{ feed.feed_id }}</td>
          <td>{{ feed.created_at }}</td>
          <td>{{ feed.is_current }}</td>
          <td>{{ feed.last_action }}</td>
          <td>
            <!-- Botón "Escoger Feed" con estilo condicional -->
            <a href="{% url 'select_feed' feed.feed_id company.company_id %}" class="btn {% if feed.is_current %}btn-success{% else %}btn-secondary{% endif %}">Escoger Feed</a>
            <a href="{% url 'delete_feed' feed.feed_id company.company_id %}" class="btn btn-danger">Eliminar</a>
            <a href="{% url 'edit_feed' feed.feed_id company.company_id %}" class="btn btn-primary">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
