{% extends 'base.html' %}

{% load static %}

{% block main %}
  <h1>Edición</h1>

  <p>Datos GTFS editables por usuarios con los permisos.</p>

  <h2>Feed</h2>

  <p>Llenar la información a continuación.</p>

  <!-- Formulario de creación de Feed -->
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- Campo para el id de la compañía -->
    <div class="mb-3">
        <label for="company_id" class="form-label">ID de la compañía</label>
        <input type="text" class="form-control" name="company_id" id="company_id" required>
    </div>

    <!-- Campo para el archivo zip -->
    <div class="mb-3">
        <label for="zip_file" class="form-label">Archivo ZIP</label>
        <input type="file" class="form-control" name="zip_file" id="zip_file" required>
    </div>

    <!-- Checkbox para indicar si es el feed actual -->
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="is_current" id="is_current">
        <label class="form-check-label" for="is_current">Es el feed actual</label>
    </div>

    <!-- Checkbox para indicar si está en modo edición -->
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="in_edition" id="in_edition">
        <label class="form-check-label" for="in_edition">Está en modo edición</label>
    </div>

    <!-- Botón de envío del formulario -->
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>

{% endblock %}
