{% extends 'base.html' %}

{% load static %}

{% block main %}

  <h1>Edición</h1>

  <p>Datos GTFS editables por usuarios con los permisos.</p>

  <h2>Paradas</h2>


  <p>Llenar la información a continuación.</p>

<!-- Script para validar la latitud y longitud ingresadas -->
<script>
    function validarLatitud() {
        var latitud = parseFloat(document.getElementById("stop_lat").value);
        if (isNaN(latitud) || latitud < -90 || latitud > 90) {
            alert("Por favor, ingrese una latitud válida (-90 a 90).");
            document.getElementById("stop_lat").value = "";
        }
    }

    function validarLongitud() {
        var longitud = parseFloat(document.getElementById("stop_lon").value);
        if (isNaN(longitud) || longitud < -180 || longitud > 180) {
            alert("Por favor, ingrese una longitud válida (-180 a 180).");
            document.getElementById("stop_lon").value = "";
        }
    }
</script>

<!-- Formulario de creación de Paradas de transportes -->
<form method="POST">
    {% csrf_token %}

    <!-- Campo para ingresar el identificador único de la parada -->
    <div class="mb-3">
        <label for="stop_id" class="form-label">Identificador único de la parada</label>
        <input type="text" class="form-control" name="stop_id" id="stop_id" required>
    </div> 

    <!-- Campo para ingresar el nombre de la parada -->
    <div class="mb-3">
        <label for="stop_name" class="form-label">Nombre de la parada</label>
        <input type="text" class="form-control" name="stop_name" id="stop_name" required>
    </div>

    <!-- Campo para ingresar la descripción de la parada -->
    <div class="mb-3">
        <label for="stop_desc" class="form-label">Descripción de la parada</label>
        <input type="text" class="form-control" name="stop_desc" id="stop_desc" required>
    </div>

    <!-- Campo para ingresar la latitud de la parada con validación -->
    <div class="mb-3">
        <label for="stop_lat" class="form-label">Latitud de la parada</label>
        <input type="text" class="form-control" name="stop_lat" id="stop_lat" onchange="validarLatitud()" required>
    </div>

    <!-- Campo para ingresar la longitud de la parada con validación -->
    <div class="mb-3">
        <label for="stop_lon" class="form-label">Longitud de la parada</label>
        <input type="text" class="form-control" name="stop_lon" id="stop_lon" onchange="validarLongitud()" required>                               
    </div>

    <!-- Campo para seleccionar la zona de la parada -->
    <div class="mb-3">
        <label for="stop_zone">Zona de la parada</label>
        <select name="stop_zone">
            {% for zone in zones %}
                <option value="{{zone.id}}">{{zone.zone_id}}</option>
            {% endfor %}
        </select>
    </div>

    <!-- Campo para ingresar la dirección web de la parada con patrón -->
    <div class="mb-3">
        <label for="stop_url" class="form-label">Dirección web de la parada</label>
        <input type="text" class="form-control" name="stop_url" id="stop_url" pattern="https?://.+" required>
    </div>

    <!-- Campo para seleccionar el tipo de parada -->
    <div>
        <label for="stop_location_type">Selecciona el tipo de parada:</label>
        <select id="stop_location_type" name="stop_location_type">
            <option value="0">Parada</option>
            <option value="1">Estación</option>
        </select>
        <br>
    </div>

    <!-- Campo para ingresar la estación asociada a la parada -->
    <br>
    <div class="mb-3">
        <label for="stop_parent_station" class="form-label">La estación asociada a la parada:</label>
        <input type="text" class="form-control" name="stop_parent_station" id="stop_parent_station" required>
    </div>

    <!-- Campo para seleccionar la accesibilidad en silla de ruedas -->
    <br>
    <div>
        <label for="stop_wheelchair_boarding">¿Es posible subir al transporte en silla de ruedas?</label>
        <select id="stop_wheelchair_boarding" name="stop_wheelchair_boarding">
            <option value="0">No hay información.</option>
            <option value="1">Abordaje parcial de silla de ruedas.</option>
            <option value="2">Las sillas de ruedas no pueden subir.</option>
        </select>
        <br>
    </div>

    <!-- Botón de envío del formulario -->
    <br>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>    
</form>

{% endblock %}
