{% extends 'base.html' %}

{% load static %}

{% block main %}

<p>
    Seleccione la tabla que quiere agregar:
</p>

<ul>
    <li><a href="{% url 'create_agency' %}">Agencia</a></li>
    <li><a href="{% url 'create_route' %}">Rutas</a></li>
    <li><a href="{% url 'create_stop' %}">Paradas</a></li>
    <li><a href="{% url 'create_zone' %}">Zonas</a></li>
    <li><a href="{% url 'create_calendar' %}">Calendario</a></li>
    <li><a href="{% url 'create_calendar_date' %}">Fechas de Calendario</a></li>
    <li><a href="{% url 'create_fare_attribute' %}">Tarifas</a></li>
    <li><a href="{% url 'create_feed_info' %}">Información del Feed</a></li>
    <li><a href="{% url 'create_fare_rule' %}">Regla de Tarifa</a></li>
</ul>

<br>

<p>
    Seleccione la tabla que quiere eliminar o editar:
</p>

<ul>
    <li><a href="{% url 'list_agency' %}">Agencia</a></li>
    <li><a href="{% url 'list_route' %}">Rutas</a></li>
    <li><a href="{% url 'list_stop' %}">Paradas</a></li>
    <li><a href="{% url 'list_zone' %}">Zonas</a></li>
    <li><a href="{% url 'list_calendar' %}">Calendarios</a></li>
    <li><a href="{% url 'list_calendar_dates' %}">Fechas de calendarios</a></li>
    <li><a href="{% url 'list_fare_attribute' %}">Tarifas</a></li>
    <li><a href="{% url 'list_feed_info' %}">Información del Feed</a></li>
    <li><a href="{% url 'list_fare_rule' %}">Reglas de Tarifas</a></li>
</ul>

{% endblock %}