{% extends 'base.html' %}

{% load static %}

{% block main %}
  <!-- Encabezado de la página -->
  <h1>Listado de Fare Rules</h1>

  <!-- Formulario CSRF Token para protección contra ataques de falsificación de solicitudes entre sitios -->
  {% csrf_token %}

  <!-- Tabla que muestra la lista de Fare Rules -->
  <table class="table">
    <thead>
      <tr>
        <!-- Cabeceras de la tabla -->
        <th>ID de Tarifa</th>
        <th>Ruta</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ciclo para iterar sobre cada Fare Rule en la lista -->
      {% for fare_rule in fare_rules %}
        <tr>
          <!-- Datos de cada Fare Rule -->
          <td>{{fare_rule.fare.fare_id}}</td>
          <td>{{fare_rule.route.route_id}}</td>
          <td>{{fare_rule.origin.zone_id}}</td>
          <td>{{fare_rule.destination.zone_id}}</td>
          <td>
            <!-- Botones para eliminar y editar cada Fare Rule, enlazados a las respectivas vistas -->
            <a href="{% url 'delete_fare_rule' fare_rule.id %}" class="btn btn-danger">Eliminar</a>
            <a href="{% url 'edit_fare_rule' fare_rule.id %}" class="btn btn-primary">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
