{% extends 'base.html' %}

{% load static %}

{% block main %}
  <!-- Encabezado de la página -->
  <h1>Listado de Calendarios</h1>

  <!-- Formulario CSRF Token para protección contra ataques de falsificación de solicitudes entre sitios -->
  {% csrf_token %}

  <!-- Tabla que muestra la lista de calendarios -->
  <table class="table">
    <thead>
      <tr>
        <!-- Cabeceras de la tabla -->
        <th>ID de Calendario</th>
        <th>Fecha de Inicio</th>
        <th>Fecha de Fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ciclo para iterar sobre cada calendario en la lista -->
      {% for calendar in calendars %}
        <tr>
          <!-- Datos de cada calendario -->
          <td>{{calendar.service_id}}</td>
          <td>{{calendar.start_date}}</td>
          <td>{{calendar.end_date}}</td>
          <td>
            <!-- Botones para eliminar y editar cada calendario, enlazados a las respectivas vistas -->
            <a href="{% url 'delete_calendar' calendar.service_id %}" class="btn btn-danger">Eliminar</a>
            <a href="{% url 'edit_calendar' calendar.service_id %}" class="btn btn-primary">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
