{% extends 'base.html' %}

{% load static %}

{% block main %}
  <!-- Encabezado de la página -->
  <h1>Listado de Zonas</h1>

  <!-- Formulario CSRF Token para protección contra ataques de falsificación de solicitudes entre sitios -->
  {% csrf_token %}

  <!-- Tabla que muestra la lista de zonas -->
  <table class="table">
    <thead>
      <tr>
        <!-- Cabeceras de la tabla -->
        <th>ID de Zona</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ciclo para iterar sobre cada zona en la lista -->
      {% for zone in zones %}
        <tr>
          <!-- Datos de cada zona -->
          <td>{{zone.zone_id}}</td>
          <td>
            <!-- Botones para eliminar y editar cada zona, enlazados a las respectivas vistas -->
            <a href="{% url 'delete_zone' zone.zone_id %}" class="btn btn-danger">Eliminar</a>
            <a href="{% url 'edit_zone' zone.zone_id %}" class="btn btn-primary">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
