{% extends 'base.html' %}

{% load static %}

{% block main %}
  <!-- Encabezado de la página -->
  <h1>Listado de Agencias</h1>

  <!-- Formulario CSRF Token para protección contra ataques de falsificación de solicitudes entre sitios -->
  {% csrf_token %}

  <!-- Tabla que muestra la lista de agencias -->
  <table class="table">
    <thead>
      <tr>
        <!-- Cabeceras de la tabla -->
        <th>ID de Agencia</th>
        <th>Nombre</th>
        <th>URL</th>
        <th>Zona Horaria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ciclo para iterar sobre cada agencia en la lista -->
      {% for agency in agencies %}
        <tr>
          <!-- Datos de cada agencia -->
          <td>{{agency.agency_id}}</td>
          <td>{{agency.name}}</td>
          <td>{{agency.url}}</td>
          <td>{{agency.timezone}}</td>
          <td>
            <!-- Botones para eliminar y editar cada agencia, enlazados a las respectivas vistas -->
            <a href="{% url 'delete_agency' agency.agency_id %}" class="btn btn-danger">Eliminar</a>
            <a href="{% url 'edit_agency' agency.agency_id %}" class="btn btn-primary">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
