{% extends 'base.html' %}

{% load static %}

{% block main %}
  <!-- Encabezado de la página -->
  <h1>Listado de Fechas de Calendario</h1>

  <!-- Formulario CSRF Token para protección contra ataques de falsificación de solicitudes entre sitios -->
  {% csrf_token %}

  <!-- Tabla que muestra la lista de fechas de calendario -->
  <table class="table">
    <thead>
      <tr>
        <!-- Cabeceras de la tabla -->
        <th>ID de Calendario</th>
        <th>Fecha</th>
        <th>Tipo de Excepción</th>
        <th>Nombre del Feriado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ciclo para iterar sobre cada fecha de calendario en la lista -->
      {% for calendar_date in calendar_dates %}
        <tr>
          <!-- Datos de cada fecha de calendario -->
          <td>{{calendar_date.service.service_id}}</td>
          <td>{{calendar_date.date}}</td>
          <td>{{calendar_date.get_exception_type_display}}</td>
          <td>{{calendar_date.holiday_name}}</td>
          <td>
            <!-- Botones para eliminar y editar cada fecha de calendario, enlazados a las respectivas vistas -->
            <a href="{% url 'delete_calendar_dates' calendar_date.service_id %}" class="btn btn-danger">Eliminar</a>
            <a href="{% url 'edit_calendar_dates' calendar_date.service_id %}" class="btn btn-primary">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
