{% extends 'base.html' %}

{% load static %}

{% block main %}

<h1>Edición</h1>

<p>Datos GTFS editables por usuarios con los permisos.</p>

<h2>Rutas de transportes</h2>

<p>Editar la información a continuación.</p>

<!-- Formulario de edición de Agencia de Transportes -->
<form method="POST">
    {% csrf_token %}

    <!-- Campo de identificador de la agencia (readonly) -->
    <div class="mb-3">
        <label for="agency_id" class="form-label">Identificador de la agencia</label>
        <input type="text" class="form-control" name="agency_id" id="agency_id" value="{{agency.agency_id}}" required>
    </div>

    <!-- Campo para editar el nombre de la agencia -->
    <div class="mb-3">
        <label for="agency_name" class="form-label">Nombre de la agencia</label>
        <input type="text" class="form-control" name="agency_name" id="agency_name" value="{{agency.name}}" required>
    </div>

    <!-- Campo para editar la dirección web de la agencia -->
    <div class="mb-3">
        <label for="agency_url" class="form-label">Dirección web de la agencia</label>
        <input type="text" class="form-control" name="agency_url" id="agency_url" pattern="https?://.+" value="{{agency.url}}" required>
    </div>

    <!-- Campo para seleccionar la zona horaria de la agencia -->
    <div class="mb-3">
        <label for="agency_timezone" class="form-label">Zona horaria de la agencia</label>
        <select class="form-select" name="agency_timezone" id="agency_timezone" required>
            <option value="{{agency.timezone}}" selected>{{agency.timezone}}</option>
        </select>
    </div>

    <!-- Campo para seleccionar el idioma de la agencia, debe estar en formato ISO 639-1 -->
    <div class="mb-3">
        <label for="agency_lang" class="form-label">Idioma de la agencia</label>
        <select class="form-select" name="agency_lang" id="agency_lang" required>
            <option value="es" {% if agency.lang == 'es' %} selected {% endif %}>Español</option>
            <option value="en" {% if agency.lang == 'en' %} selected {% endif %}>Inglés</option>
        </select>
    </div>

    <!-- Campo para editar el teléfono de la agencia -->
    <div class="mb-3">
        <label for="agency_phone" class="form-label">Teléfono de la agencia</label>
        <input type="text" class="form-control" name="agency_phone" id="agency_phone" value="{{agency.phone}}" required>
    </div>

    <!-- Campo para editar la dirección web de tarifas de la agencia -->
    <div class="mb-3">
        <label for="agency_fare_url" class="form-label">Sitio con tarifas de la agencia</label>
        <input type="text" class="form-control" name="agency_fare_url" id="agency_fare_url" value="{{agency.fare_url}}" required>
    </div>

    <!-- Campo para editar el correo electrónico de la agencia -->
    <div class="mb-3">
        <label for="agency_email" class="form-label">Correo electrónico de la agencia</label>
        <input type="email" class="form-control" name="agency_email" id="agency_email" value="{{agency.email}}" required>
    </div>

    <!-- Botón de envío del formulario -->
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

{% endblock %}