{% extends 'base.html' %}

{% load static %}

{% block main %}

  <h1>Edición</h1>

  <p>Datos GTFS editables por usuarios con los permisos.</p>

  <h2>Atributo de Tarifa</h2>

  <p>Editar la información a continuación.</p>

  <!-- Formulario de edición de Atributo de Tarifa -->
<form method="POST">

    {% csrf_token %}

    <!-- Campo para el identificador del Atributo de Tarifa -->
    <div class="mb-3">
        <label for="fare_id" class="form-label">Identificador del Atributo de Tarifa</label>
        <input type="text" class="form-control" name="fare_id" id="fare_id" value="{{fare_attribute.fare_id}}" required>
    </div>

    <!-- Campo para el precio de la tarifa -->
    <div class="mb-3">
        <label for="fare_price" class="form-label">Precio de la Tarifa</label>
        <input type="number" class="form-control" name="fare_price" id="fare_price" value="{{fare_attribute.price}}" required>
    </div>

    <!-- Campo para el tipo de moneda -->
    <div class="mb-3">
        <label for="fare_currency_type" class="form-label">Tipo de Moneda</label>
        <input type="text" class="form-control" name="fare_currency_type" id="fare_currency_type" value="{{fare_attribute.currency_type}}" required>
    </div>

    <!-- Campo para el método de pago -->
    <div class="mb-3">
        <label for="fare_payment_method" class="form-label">Método de Pago</label>
        <select id="fare_payment_method" name="fare_payment_method">
            <option value="0" {% if fare_attribute.payment_method == '0' %}selected{% endif %}>La tarifa se paga abordo.</option>
            <option value="1" {% if fare_attribute.payment_method == '1' %}selected{% endif %}>La tarifa se paga previo a subir al transporte.</option>
        </select>
    </div>

    <!-- Campo para las transferencias permitidas -->
    <div class="mb-3">
        <label for="fare_transfers" class="form-label">Transferencias Permitidas</label>
        <select id="fare_transfers" name="fare_transfers">
            <option value="0" {% if fare_attribute.transfers == 0 %}selected{% endif %}>No se permiten transferencias en esta tarifa.</option>
            <option value="1" {% if fare_attribute.transfers == 1 %}selected{% endif %}>Los pasajeros pueden transferir una vez.</option>
            <option value="2" {% if fare_attribute.transfers == 2 %}selected{% endif %}>Los pasajeros pueden transferir dos veces.</option>
            <option value="3" {% if fare_attribute.transfers == 3 %}selected{% endif %}>Se pueden realizar transferencias ilimitadas.</option>
        </select>
    </div>

    <!-- Campo para la agencia asociada -->
    <div class="mb-3">
        <label for="fare_agency" class="form-label">Agencia Asociada</label>
        <select id="fare_agency" name="fare_agency">
            <option value="" {% if not fare_attribute.agency_id %}selected{% endif %}>Ninguna</option>
            {% for agency in agencies %}
                <option value="{{ agency.id }}" {% if fare_attribute.agency_id == agency.id %}selected{% endif %}>{{ agency.name }}</option>
            {% endfor %}
        </select>
    </div>


    <!-- Campo para la duración de la transferencia -->
    <div class="mb-3">
        <label for="fare_transfer_duration" class="form-label">Duración de la Transferencia (segundos)</label>
        <input type="number" class="form-control" name="fare_transfer_duration" id="fare_transfer_duration" value="{{fare_attribute.transfer_duration}}" required>
    </div>

    <!-- Botón de envío del formulario -->
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

</form>


{% endblock %}
