{% extends 'base.html' %}

{% load static %}

{% block main %}

  <h1>Edición</h1>

  <p>Datos GTFS editables por usuarios con los permisos.</p>

  <h2>Calendario de Servicio</h2>

  <p>Editar la información a continuación.</p>

  <!-- Formulario de edición de Calendario de Servicio, se añade una función que hace que start day sea menos que end date -->
<form method="POST" onsubmit="return validateDates()">

    {% csrf_token %}

    <!-- Campo para el identificador del Calendario -->
    <div class="mb-3">
        <label for="service_id" class="form-label">Identificador del Calendario</label>
        <input type="text" class="form-control" name="service_id" id="service_id" value="{{calendar.service_id}}" required>
    </div>

    <!-- Campos para seleccionar disponibilidad los lunes -->
    <div class="mb-3">
        <label for="monday" class="form-label">¿El servicio está disponible los lunes?</label>
        <select id="monday" name="monday">
            <option value="1" {% if calendar.monday == '1'%}selected{%endif%}>El servicio sí está disponible los lunes incluidos en este período.</option>
            <option value="0" {% if calendar.monday == '0'%}selected{%endif%}>El servicio no está disponible los lunes incluidos en este período.</option>
        </select>
    </div>

    <!-- Campos para seleccionar disponibilidad los martes -->
    <div class="mb-3">
        <label for="tuesday" class="form-label">¿El servicio está disponible los martes?</label>
        <select id="tuesday" name="tuesday">
            <option value="1" {% if calendar.tuesday == '1'%}selected{%endif%}>El servicio sí está disponible los martes incluidos en este período.</option>
            <option value="0" {% if calendar.tuesday == '0'%}selected{%endif%}>El servicio no está disponible los martes incluidos en este período.</option>
        </select>
    </div>

    <!-- Campos para seleccionar disponibilidad los miércoles -->
    <div class="mb-3">
        <label for="wednesday" class="form-label">¿El servicio está disponible los miércoles?</label>
        <select id="wednesday" name="wednesday">
            <option value="1" {% if calendar.wednesday == '1'%}selected{%endif%}>El servicio sí está disponible los miércoles incluidos en este período.</option>
            <option value="0" {% if calendar.wednesday == '0'%}selected{%endif%}>El servicio no está disponible los miércoles incluidos en este período.</option>
        </select>
    </div>

    <!-- Campos para seleccionar disponibilidad los jueves -->
    <div class="mb-3">
        <label for="thursday" class="form-label">¿El servicio está disponible los jueves?</label>
        <select id="thursday" name="thursday">
            <option value="1" {% if calendar.thursday == '1'%}selected{%endif%}>El servicio sí está disponible los jueves incluidos en este período.</option>
            <option value="0" {% if calendar.thursday == '0'%}selected{%endif%}>El servicio no está disponible los jueves incluidos en este período.</option>
        </select>
    </div>

    <!-- Campos para seleccionar disponibilidad los viernes -->
    <div class="mb-3">
        <label for="friday" class="form-label">¿El servicio está disponible los viernes?</label>
        <select id="friday" name="friday">
            <option value="1" {% if calendar.friday == '1'%}selected{%endif%}>El servicio sí está disponible los viernes incluidos en este período.</option>
            <option value="0" {% if calendar.friday == '0'%}selected{%endif%}>El servicio no está disponible los viernes incluidos en este período.</option>
        </select>
    </div>

    <!-- Campos para seleccionar disponibilidad los sábados -->
    <div class="mb-3">
        <label for="saturday" class="form-label">¿El servicio está disponible los sábados?</label>
        <select id="saturday" name="saturday">
            <option value="1" {% if calendar.saturday == '1'%}selected{%endif%}>El servicio sí está disponible los sábados incluidos en este período.</option>
            <option value="0" {% if calendar.saturday == '0'%}selected{%endif%}>El servicio no está disponible los sábados incluidos en este período.</option>
        </select>
    </div>

    <!-- Campos para seleccionar disponibilidad los domingos -->
    <div class="mb-3">
        <label for="sunday" class="form-label">¿El servicio está disponible los domingos?</label>
        <select id="sunday" name="sunday">
            <option value="1" {% if calendar.sunday == '1'%}selected{%endif%}>El servicio sí está disponible los domingos incluidos en este período.</option>
            <option value="0" {% if calendar.sunday == '0'%}selected{%endif%}>El servicio no está disponible los domingos incluidos en este período.</option>
        </select>
    </div>

<!-- Campo para la fecha de inicio de vigencia del horario -->
<div class="mb-3">
    <label for="start_date" class="form-label" title="Inicio de la vigencia del horario">Inicio de la vigencia del horario:</label>
    <div class="input-group">
        <!-- Campo de solo lectura para mostrar la fecha anterior -->
        <input type="text" class="form-control" value="{{calendar.start_date}}" readonly>
        <!-- Campo oculto para enviar la fecha anterior junto con el formulario -->
        <input type="hidden" name="prev_start_date" value="{{calendar.start_date}}">
    </div>
</div>

<!-- Campo para la fecha de fin de vigencia del horario -->
<div class="mb-3">
    <label for="end_date" class="form-label" title="Fin de la vigencia del horario">Fin de la vigencia del horario:</label>
    <div class="input-group">
        <!-- Campo de solo lectura para mostrar la fecha anterior -->
        <input type="text" class="form-control" value="{{calendar.end_date}}" readonly>
        <!-- Campo oculto para enviar la fecha anterior junto con el formulario -->
        <input type="hidden" name="prev_end_date" value="{{calendar.end_date}}">
    </div>
</div>

<!-- Campo para seleccionar una nueva fecha de inicio de vigencia del horario -->
<div class="mb-3">
    <label for="new_start_date" class="form-label" title="Nueva fecha de inicio del horario">Nueva fecha de inicio del horario:</label>
    <input type="date" name="new_start_date" id="new_start_date" required>
</div>

<!-- Campo para seleccionar una nueva fecha de fin de vigencia del horario -->
<div class="mb-3">
    <label for="new_end_date" class="form-label" title="Nueva fecha de fin del horario">Nueva fecha de fin del horario:</label>
    <input type="date" name="new_end_date" id="new_end_date" required>
</div>


    <!-- Botón de envío del formulario -->
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

</form>


    <!-- Script para validar fechas en el formulario -->
    <script>
        // Función para validar las fechas de inicio y fin
        function validateDates() {
        // Obtiene el valor de la fecha de inicio del formulario
        var startDate = document.getElementById('new_start_date').value;
        
        // Obtiene el valor de la fecha de fin del formulario
        var endDate = document.getElementById('new_end_date').value;
    
        // Compara las fechas
        if (startDate > endDate) {
            // Si la fecha de inicio es mayor que la fecha de fin, muestra una alerta
            alert("La fecha de inicio no puede ser mayor que la fecha de fin.");
            
            // Devuelve false para indicar que la validación ha fallado
            return false;
        }
    
        // Si las fechas son válidas, devuelve true para permitir el envío del formulario
        return true;
        }
  </script>

{% endblock %}
